body{
    background-color:#FCBF49;
  }
  .header {
    padding: 25px 0;
    text-align: center;
    background: #222;
  }
  /*  src/Title.css  */
/*  src/Title.css  */
.header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  background-color: rgb(192, 45, 26);
  color: #fff;

}