
.svg-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}


header {
  background-color : #a87810;
  color: #a87810;
  padding-top: 1vw;
  padding-bottom: 0vw;
  text-align: center;
  text-emphasis-color: #e7af35 ;
}



footer {
  background: #a87810;
  padding: 5vh 0;
  text-align: center;
  position: relative;
}
.container {
  background: #3d3402;
  padding: 4vh 0;
  text-align: center;
  position: center;
  background-position: center ;
  vertical-align: center ; 
}

div.container {
   display: grid;
  justify-content: center;
 }

 .MuiCard-root {
  background: #0a2513;
  color: #0a2513;
  text-align: center;
  position: center;
  background-position: center ;
   
}

.card.container {
  background: #1b3b29;
  color: #1b3b29;
  text-align: center;
  position: center;
  background-position: center ;
   
}
